 <div class="container-fluid">
  <div class="row" style="background-color: #99ccff; color: #0066cc;">
  <h2 class="ml-5 pl-3">目標レビュー一覧</h2>
  </div>
 </div>
 
 
 <div class="container mt-2">
     <%= render 'purpose_review', purposes: @purposes %>
 </div>
   
 