
<div class="container-fluid">
  <div class="row" style="background-color: #99ccff; color: #0066cc;">
  <h2 class="ml-5 pl-3">目標の編集</h2>
  </div>
</div>


<!--<div class="text-center">
  <h3>目標</h3>
</div>-->

<%= form_with(model: @purpose, local: true) do |f| %>
  <%= f.label :content, '目標' %>
  <%= f.text_field :content %>

  <%= f.submit '編集完了' %>
<% end %>
