<div　style="background-color: #99ccff; text-color: #0066cc">
  <h2>新規目標の作成</h2>
</div>


<!--<div class="text-center">
  <h3>目標</h3>
</div>-->

<%= form_with(model: @purpose, local: true) do |f| %>
  <%= f.label :content, '目標' %>
  <%= f.text_field :content %>

  <%= f.submit '新規作成' %>
<% end %>

