 <div class="container-fluid">
  <div class="row pt-2 pb-1" style="background-color: #838d93; color: white;">
  <h2 class="font-weight-bold ml-5 pl-3"><i class="far fa-check-circle"></i> 過去タスク一覧</h2>
  </div>
 </div>
 
 
　<%= render 'comppurpose', purposes: @purposes %>



