<div　style="background-color: #99ccff; text-color: #0066cc">
  <h2>ユーザー詳細 (ユーザーID:<%= @user.id %>)</h2>
</div>


<h3>ユーザー目標リスト</h3>
<div　class="overflow-auto" style="width:740px; height:400px;">
    <!--目標＋最新コメントカードを繰り返し表示　_user_purposesをrendarし,eachでサイクル-->
</div>

<!--新規目標作成ボタン-->

<h3>コメントリスト</h3>
<div　class="overflow-auto" style="width:740px; height:400px;">
    <!--コメント先の目標カードを繰り返し表示 _user_commentをrenderし繰り返し-->
</div>