<!--ログインの分岐-->
<% if logged_in? %>
<!--ログイン時-->
 <div class="container-fluid">
  <div class="row pt-2 pb-1" style="background-color: #838d93; color: white;">
  <h2 class="ml-5 pl-3"><i class="fas fa-home"></i> HOME</h2>
  </div>
 </div>

 <div class="container mt-4">
   <div class="row">
    <h3 class="font-weight-bold text-secondary"><i class="fas fa-list-ol"></i> 優先タスクリスト</h3>
   </div>
 </div> 



 <div class="container mt-2" style="max-height : 600px; overflow: scroll; border: #838d93 15px solid;">
    <%= render 'priority-tasklist', purposes: @purposes %>
 </div>
 
 
 <div class="container mt-4">
   <div class="row">
    <h3 class="font-weight-bold text-secondary" ><i class="fas fa-comments"></i> フォローユーザー目標リスト</h3>
   </div>
 </div> 
 
  <div class="container mt-2" style="max-height : 600px; overflow: scroll; border: #838d93 10px solid;">
        <% @follow_users.each do |user| %>
            <%= render 'reviewlists/purpose_review', purposes: user.purposes.where(open: true) %>
         <%end%>
  </div>

  
  
<% else %>
<!--非ログイン時-->
 <div class="container mt-2">
    <div class="center jumbotron" style="background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('assets/top_back.jpg'); background-size:cover; height: 450px; background-position: center;">
      <div class="text-center text-light mt-5 pt-5">
        <h1>目標へ向かう道のりを励まし合える目標管理アプリ</h1>
        <p>ユーザー間で互いの目標をレビューしあえるタスク管理ツール</p>
      </div>
    </div>
 </div>
      <!---------------------------->
 <div class="container mt-2 mb-4">
    <div class="card-group">
      <!---->
     <div class="card">
       <div class="card-header text-center">
        目標の一覧表示
       </div>
       <div class="card-body">
    　　　　<p>様々な利用者の目指す目標が、一覧で見れる。目標建ての参考や、自分と同じような目標を追う人が見つかる。</p>
       </div>
      </div>
      <!---->
      <div class="card">
       <div class="card-header text-center">
        目標へのフィードバック
       </div>
       <div class="card-body">
    　　　　<p>利用者の公表した目標に対し、相互のレビューコメントが可能。目標の進み具合に対して意見をもらったり、質問の受け答えが可能。</p>
       </div>
      </div>
      <!---->
      <div class="card">
       <div class="card-header text-center">
        目標ごとのタスク管理
       </div>
       <div class="card-body">
    　　　　<p>ユーザーの目標毎に、タスクリストを設定可能。また、優先したいタスクを一覧で表示できる。さらに、達成した目標を後から見ることも可能。</p>
       </div>
      </div>
    </div>
</div>    
<div class="container mt-2 border">  
    <div class="mt-4 row">
      <div class="col-sm-2 text-center">
       <h4 style="border-bottom: solid 3px #838d93;">使い方</h4>
      </div>
    </div>
    <div class="mt-2 row">
     <p style="line-height:35px;">　・　SignUp後、各ユーザーページから新規目標を作成することができます。<br>　・　作成した目標に関するタスクを、目標の詳細ページで作成することができます。<br>　・　作成した目標に対し、レビューコメントを投稿することができます。また、他ユーザーの公開目標に対してもレビューを投稿することが可能です。<br>　・　作成した目標は、デフォルトで非公開設定になっております。他ユーザーへ公開する場合は、各目標詳細ページ内の"公開ボタンを"押してください。<br>　・　タスクに設置してある"優先ボタン"を押すと、トップページ上の優先タスクリストへタスクが表示されるようになります。<br>　・　目標レビュー一覧から、他ユーザーのフォローを行うことができます。また、フォローしたユーザーの公開目標は、トップページに表示されます。</p>
    </div>
</div>

 <div class="container mt-2">
    <div class="mt-4 text-center">
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-secondary' %>
    </div>
 </div>
<% end %>

