<!--ログインの分岐-->
<% if logged_in? %>
<!--ログイン時-->
 <div class="container-fluid">
  <div class="row" style="background-color: #99ccff; color: #0066cc;">
  <h2 class="ml-5 pl-3">HOME</h2>
  </div>
 </div>

 <div class="container mt-4">
   <div class="row">
    <h3 class="col-sm-3" style="color: #0066cc;">優先タスクリスト</h3>
   </div>
 </div> 



 <div class="container mt-2" style="max-height : 600px; overflow: scroll; border: #99ccff 10px ridge;">
     
     <%= render 'priority-tasklist', purposes: @purposes %>
 </div>
 
 
 <div class="container mt-4">
   <div class="row">
    <h3 class="col-sm-5" style="color: #0066cc;">フォローユーザー目標リスト</h3>
   </div>
 </div> 
 
  <div class="container mt-2" style="max-height : 600px; overflow: scroll; border: #99ccff 10px ridge;">
        <% @follow_users.each do |user| %>
            <%= render 'reviewlists/purpose_review', purposes: user.purposes.where(open: true) %>
         <%end%>
  </div>

  
  
<% else %>
<!--非ログイン時-->
 <div class="container mt-2">
    <div class="center jumbotron" style="background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('assets/top_back.jpg'); background-size:cover; height: 450px; background-position: center;">
      <div class="text-center text-light mt-5 pt-5">
        <h1>目標へ向かう道のりを励まし合える目標管理アプリ</h1>
        <p>ユーザー間で互いの目標をレビューしあえるタスク管理ツール</p>
      </div>
    </div>
 </div>
      <!---------------------------->
 <div class="container mt-2">
    <div class="card-group">
      <!---->
     <div class="card">
       <div class="card-header text-center">
        目標一覧
       </div>
       <div class="card-body">
    　　　　<p>様々な利用者の目指す目標が、一覧で見れる。目標建ての参考や、自分と同じような目標を追う人が見つかる。</p>
       </div>
      </div>
      <!---->
      <div class="card">
       <div class="card-header text-center">
        目標へのフィードバック
       </div>
       <div class="card-body">
    　　　　<p>利用者の公表した目標に対し、相互のレビューコメントが可能。目標の進み具合に対して意見をもらったり、質問の受け答えが可能。</p>
       </div>
      </div>
      <!---->
      <div class="card">
       <div class="card-header text-center">
        目標ごとのタスク管理
       </div>
       <div class="card-body">
    　　　　<p>ユーザーの目標毎に、タスクリストを設定可能。また、優先したいタスクを一覧で表示できる。さらに、達成した目標を後から見ることも可能。</p>
       </div>
      </div>
    </div>
  
    <div class="mt-4 text-center">
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
 </div>
<% end %>

