<header class="mb-4">
  <!-- タイトル-->
  <nav class="navbar navbar-expand-sm navbar-light" style="background-color:#0099ff;">
  　<a class="navbar-brand text-light" href="/">Task Reviewer</a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if logged_in? %>
        <% else %>
          <li class="nav-item mr-2"><%= link_to 'Signup', signup_path, class: 'nav-link btn btn-outline-light text-light' %></li>
          <li class="nav-item"><%= link_to 'Login', login_path, class: 'nav-link btn btn-outline-light text-light' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>